/* General body common features*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Css for the Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 165%;
    width: 100vw;
    display: flex; /* Allow the flexbox  layout to enhance responsive design */
    flex-direction: column;
    align-items: center;
    z-index: 1000; 
    background-color: transparent;
}

#portada {
    height: 7%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 20px;
}

#logo {
    height: 140%;
    width: 95%;
    margin-top: 46px;
    object-fit: cover;   
}

/* Css for the Navigation */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    padding: 5px 0;
    background: linear-gradient(to bottom, rgba(69, 39, 110), rgba(0, 0, 0, 0.9));
}

.menu-item {
    padding: 5px 10px;
    font-size: 1.1em;
    min-width: 60px;
    max-width: 120px;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

/* Extra properties to avoid default features such as underlining */
.menu-item a {
    text-decoration: none; 
    color: inherit; 
    font-size: inherit; 
    font-weight: inherit; 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menu-item:hover {
    background: white;
    color: rgb(36, 19, 61); /* Purple Colour of the Website Theme */
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

/* Risponsiveness Features */
@media screen and (max-width: 768px) {
    .menu {
        gap: 8px;
    }
    .menu-item {
        padding: 4px 8px;
        font-size: 0.8em;
        min-width: 50px;
        max-width: 100px;
        margin: 4px;
    }
}

@media screen and (max-width: 480px) {
    .menu {
        gap: 6px;
    }
    .menu-item {
        padding: 3px 6px;
        font-size: 0.75em;
        min-width: 45px;
        max-width: 90px;
        margin: 3px;
    }
}

/* Css for the Footer */

#Section-for-Footer {
    width: 80%;
    max-width: 1000px;
    color: black;
    padding: 30px 10px;
    text-align: center;
    margin: 30px auto 0; 
    display: block;
}
