
/* Main Content */
#gallery-section {
    width: 85%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallery-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    width: 30%;  /* Tres por fila */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .gallery-row {
        flex-wrap: wrap;
    }
    .gallery-item {
        width: 45%; /* Dos por fila en móviles */
    }
}

