/* Main Content */
#text-section {
    max-width: 600px;
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 150px; /* Ajusta según sea necesario */
}

/* Divisor */
.section-divider-wrapper {
    display: flex;
    justify-content: center;
}

.separator {
    width: 60%;
    height: 2px;
    background-color: rgba(69, 39, 110, 0.8);
    border: none;
}

/* Genres */
#genres-section {
    text-align: center;
    padding: 20px 0;
    width: 85%;
    max-width: 1100px;
    margin: auto;
    padding-top: 200px;
}

/* Title Text */
.title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.column {
    width: 100%;
}

/* ======= FILAS ======= */
.row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* ======= ELEMENTOS ======= */
.item {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-align: justify;
    width: 45%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    padding: 0 10px;
}

/* ======= RESPONSIVE ======= */
@media screen and (max-width: 768px) {
    .schedule-row {
        flex-direction: column;
        align-items: center;
    }
    .schedule-item {
        width: 90%;
    }
}
