/* Main Content */

/* Video */
#section-of-video {
    height: 89vh;
    width: 89vw;
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

#section-of-video video {
    height: auto;
    width: 65%;
    object-fit: cover;
    max-width: 100%;  
}

/* Slogan */
#slogan {
    font-size: 1.1rem;
    max-width: 600px;
    margin: auto;
    font-weight: bold;
    text-align: center;
    padding: px;  
}

/* Line to Separate sections */
.section-divider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.section-divider {
    height: 1.5px;
    width: 60%;
    background-color: rgba(36, 19, 61, 0.8);
    border: none;
}

/* Offers section  */
#Offers {
    max-width: 1000px;
    margin: auto;
}

.Offers-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.Offers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Css for Columns and Items */
.Offers-column {
    flex: 2;
}

.Offers-row {
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
}

.Offers-item {
    justify-content: space-between;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 45%;
    min-height: 320px;
    display: flex;
    flex-direction: column;  
}

.Offers-item img {
    width: 90%;
    height: 220px;
    object-fit: cover;
    padding: 15px;
}

.Offers-item h3 {
    margin: 10px 0 5px;
}

.Offers-item .button {
    background: rgb(36, 19, 61);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-top: auto;
}

.Offers-item .button:hover: {
    background: rgb(36, 19, 61);
}

/* Css for Sidebar */
.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}

.sidebar-section {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sidebar-divisor {
    height: 1px;
    width: 80%;
    margin: auto;
    background: rgba(36, 19, 61, 0.5);
    border: none;
}
